.buff-icon {
    height: 40px;
    width: 40px;
    display: block;
    border: 2px solid #aaa;
    outline-offset: 1px;
    padding: 1px;
    display: inline-block;
    margin-right: 5px;
}

.buff-grayscale {
    filter: grayscale(0.9);
}

#buffs h2 {
    font-size: 14px;
}

#debuffs h2 {
    font-size: 14px;
}


